ADTServer/ShebaPatientInfoSource/Connected Services/ShebaDemographicsProxy/WSDL_Prod_Secure.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="GetPatientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="SendingApp">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="15" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DataSource">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="MF" />
                  <s:enumeration value="MOIN" />
                  <s:enumeration value="BOTH" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="QueryType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="ImutNames" />
                  <s:enumeration value="ImutDOB" />
                  <s:enumeration value="ImutID" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="PatientID">
              <s:simpleType>
                <s:restriction base="s:long">
                  <s:maxInclusive value="999999999" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="FirstName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="10" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="LastName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="15" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="BirthDate">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="8" />
                  <s:minLength value="8" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="AppUserName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:maxLength value="20" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetPatientDetailsResult" type="s0:Output" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Output">
        <s:complexContent mixed="false">
          <s:extension base="s0:Ens_Response">
            <s:sequence>
              <s:element name="Status" nillable="true" type="s:string" />
              <s:element name="DataSource" nillable="true">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:enumeration value="MF" />
                    <s:enumeration value="MOIN" />
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element minOccurs="0" name="PatDetails" nillable="true" type="s0:PatientDetails" />
              <s:element minOccurs="0" name="ErrMessage" nillable="true" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Ens_Response">
        <s:complexContent mixed="false">
          <s:extension base="s0:Ens_Messagebody" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Ens_Messagebody" />
      <s:complexType name="PatientDetails">
        <s:sequence>
          <s:element minOccurs="0" name="errstatus" nillable="true">
            <s:simpleType>
              <s:restriction base="s:long">
                <s:maxInclusive value="9999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="patientid" nillable="true">
            <s:simpleType>
              <s:restriction base="s:long">
                <s:maxInclusive value="9999999999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="familyname" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="15" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="firstname" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="fathername" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="sex" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="stat" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="numchildren" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedShort">
                <s:maxInclusive value="99" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="nationality" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="immigyear" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedShort">
                <s:maxInclusive value="9999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="birthcntry" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="birthdate" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedInt">
                <s:maxInclusive value="99999999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="address" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="30" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="zipcode" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedInt">
                <s:maxInclusive value="99999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="citycode" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedShort">
                <s:maxInclusive value="9999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="hometel" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="worktel" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="engfname" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="15" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="engpname" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="comment" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="80" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="cityname" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="17" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="kupacode" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="email" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="63" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="milid" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedInt">
                <s:maxInclusive value="99999999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="faxno" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="deathdate" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedInt">
                <s:maxInclusive value="99999999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="streetname" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="20" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="baitno" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedShort">
                <s:maxInclusive value="9999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="baitletter" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="1" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="entno" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="2" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="dirano" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedShort">
                <s:maxInclusive value="9999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="newzipcode" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedInt">
                <s:maxInclusive value="9999999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="pob" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedInt">
                <s:maxInclusive value="99999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="updatedate" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="8" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="mobile1" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="mobile2" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="10" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="pobcitycode" nillable="true">
            <s:simpleType>
              <s:restriction base="s:unsignedShort">
                <s:maxInclusive value="9999" />
                <s:minInclusive value="0" />
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" name="pobcityname" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:maxLength value="17" />
              </s:restriction>
            </s:simpleType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPatientDetailsSoapIn">
    <wsdl:part name="parameters" element="s0:GetPatientDetails" />
  </wsdl:message>
  <wsdl:message name="GetPatientDetailsSoapOut">
    <wsdl:part name="parameters" element="s0:GetPatientDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap">
    <wsdl:operation name="GetPatientDetails">
      <wsdl:input message="s0:GetPatientDetailsSoapIn" />
      <wsdl:output message="s0:GetPatientDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap" type="s0:Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatientDetails">
      <soap:operation soapAction="http://tempuri.org/Sheba.CoreInterfaces.BS.Demog.InputSecure.GetPatientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sheba.CoreInterfaces.WS.DemogBoth.Service">
    <wsdl:port name="Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap" binding="s0:Sheba.CoreInterfaces.WS.DemogBoth.ServiceSoap">
      <soap:address location="http://ensembleprodsrv/csp/sheba/Sheba.CoreInterfaces.BS.Demog.InputSecure.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>